* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v137_2 {
  width: 100%;
  height: 5128px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v137_3 {
  width: 483px;
  height: 363px;
  background: url("../images/v137_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3160px;
  left: 389px;
  overflow: hidden;
}
.v137_4 {
  width: 483px;
  height: 363px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v137_5 {
  width: 594px;
  height: 572px;
  background: url("../images/v137_5.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 42px;
  left: 21px;
  overflow: hidden;
}
.v137_6 {
  width: 100%;
  height: 628px;
  background: url("../images/v137_6.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v137_7 {
  width: 100%;
  height: 628px;
  background: rgba(0,0,0,0.5);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v137_8 {
  width: 139px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 24px;
  left: 23px;
  font-family: Inter;
  font-weight: Extra Bold;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v137_9 {
  width: 455px;
  height: 50px;
  background: url("../images/v137_9.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 651px;
  overflow: hidden;
}
.v137_10 {
  width: 148px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 10px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v137_11 {
  width: 33px;
  height: 18px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 152px;
}
.v137_12 {
  width: 92px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 10px;
  left: 207px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v137_13 {
  width: 134px;
  height: 50px;
  background: rgba(242,106,59,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 321px;
}
.v137_14 {
  width: 103px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 10px;
  left: 341px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v137_15 {
  width: 100%;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 219px;
  left: 52px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
.v137_16 {
  width: 939px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 358px;
  left: 90px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 26px;
  opacity: 1;
  text-align: center;
}
.v137_17 {
  width: 182px;
  height: 57px;
  background: rgba(242,106,59,1);
  opacity: 1;
  position: absolute;
  top: 507px;
  left: 469px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v137_18 {
  width: 140px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 521px;
  left: 490px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v137_19 {
  width: 460px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 663px;
  left: 330px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v137_20 {
  width: 100px;
  height: 100px;
  background: url("../images/v137_20.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 687px;
  left: 972px;
  overflow: hidden;
}
.v137_21 {
  width: 259px;
  height: 27px;
  background: url("../images/v137_21.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 737px;
  left: 427px;
  overflow: hidden;
}
.v137_22 {
  width: 126px;
  height: 27px;
  background: rgba(242,106,59,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 133px;
}
.v137_23 {
  width: 81px;
  height: 27px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,0,0,1);
}
.v137_24 {
  width: 69px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 4px;
  left: 7px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v137_25 {
  width: 113px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 4px;
  left: 139px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v137_28 {
  width: 203px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1388px;
  left: 427px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v137_29 {
  width: 475px;
  height: 176px;
  background: url("../images/v137_29.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1511px;
  left: 46px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v137_30 {
  width: 475px;
  height: 176px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v137_31 {
  width: 190px;
  height: 156px;
  background: url("../images/v137_31.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v137_32 {
  width: 269px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 8px;
  left: 197px;
  opacity: 1;
  text-align: left;
}
.v137_33 {
  width: 475px;
  height: 176px;
  background: url("../images/v137_33.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1511px;
  left: 597px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v137_34 {
  width: 475px;
  height: 176px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v137_35 {
  width: 269px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 8px;
  left: 197px;
  opacity: 1;
  text-align: left;
}
.v137_36 {
  width: 475px;
  height: 176px;
  background: url("../images/v137_36.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1753px;
  left: 588px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v137_37 {
  width: 475px;
  height: 176px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v137_38 {
  width: 269px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 8px;
  left: 197px;
  opacity: 1;
  text-align: left;
}
.v137_39 {
  width: 475px;
  height: 176px;
  background: url("../images/v137_39.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1964px;
  left: 322px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v137_40 {
  width: 475px;
  height: 176px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v137_41 {
  width: 269px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 8px;
  left: 197px;
  opacity: 1;
  text-align: left;
}
.v137_42 {
  width: 479px;
  height: 176px;
  background: url("../images/v137_42.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1753px;
  left: 58px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v137_43 {
  width: 475px;
  height: 176px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v137_44 {
  width: 190px;
  height: 156px;
  background: url("../images/v137_44.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v137_45 {
  width: 294px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 12px;
  left: 185px;
  opacity: 1;
  text-align: left;
}
.v137_46 {
  width: 294px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 12px;
  left: 185px;
  opacity: 1;
  text-align: left;
}
.v137_47 {
  width: 170px;
  height: 105px;
  background: url("../images/v137_47.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1541px;
  left: 615px;
  overflow: hidden;
}
.v137_48 {
  width: 186px;
  height: 150px;
  background: url("../images/v137_48.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1766px;
  left: 597px;
  overflow: hidden;
}
.v137_49 {
  width: 177px;
  height: 169px;
  background: url("../images/v137_49.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1756px;
  left: 61px;
  overflow: hidden;
}
.v137_50 {
  width: 150px;
  height: 136px;
  background: url("../images/v137_50.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1957px;
  left: 350px;
  overflow: hidden;
}
.v137_51 {
  width: 150px;
  height: 136px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v137_52 {
  width: 551px;
  height: 307px;
  background: url("../images/v137_52.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 196px;
  overflow: hidden;
}
.v137_56 {
  width: 100%;
  height: 462px;
  background: rgba(242,106,59,0.7900000214576721);
  opacity: 1;
  position: absolute;
  top: 3050px;
  left: 1px;
  overflow: hidden;
}
.v137_57 {
  width: 100%;
  height: 321px;
  background: url("../images/v137_57.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4825px;
  left: 0px;
  overflow: hidden;
}
.v137_58 {
  width: 100%;
  height: 321px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(255,255,255,1);
  overflow: hidden;
}
.v137_59 {
  width: 681px;
  height: 147px;
  background: url("../images/v137_59.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 336px;
  overflow: hidden;
}
.v137_60 {
  width: 131px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 1;
  text-align: left;
}
.v137_61 {
  width: 148px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 254px;
  opacity: 1;
  text-align: left;
}
.v137_62 {
  width: 153px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 528px;
  opacity: 1;
  text-align: left;
}
.v137_63 {
  width: 180px;
  height: 30px;
  background: url("../images/v137_63.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 201px;
  left: 127px;
  overflow: hidden;
}
.v137_64 {
  width: 30px;
  height: 30px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v137_65 {
  width: 30px;
  height: 30px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 150px;
}
.v137_66 {
  width: 30px;
  height: 30px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 50px;
}
.v137_67 {
  width: 30px;
  height: 30px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 100px;
}
.v137_68 {
  width: 20px;
  height: 19px;
  background: url("../images/v137_68.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 5px;
  overflow: hidden;
}
.v137_69 {
  width: 20px;
  height: 20px;
  background: url("../images/v137_69.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 155px;
  overflow: hidden;
}
.v137_70 {
  width: 20px;
  height: 20px;
  background: url("../images/v137_70.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 55px;
  overflow: hidden;
}
.v137_71 {
  width: 20px;
  height: 20px;
  background: url("../images/v137_71.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 105px;
  overflow: hidden;
}
.v137_72 {
  width: 380px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 268px;
  left: 637px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v137_73 {
  width: 207px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 264px;
  left: 127px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v137_74 {
  width: 153px;
  height: 45px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 186px;
  left: 705px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v137_75 {
  width: 116px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 197px;
  left: 724px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v137_76 {
  width: 103px;
  height: 45px;
  background: url("../images/v137_76.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 185px;
  left: 914px;
  overflow: hidden;
}
.v137_77 {
  width: 103px;
  height: 45px;
  background: url("../images/v137_77.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v137_78 {
  width: 103px;
  height: 44px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v137_79 {
  width: 55px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 13px;
  left: 25px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v137_80 {
  width: 59px;
  color: rgba(242,106,59,1);
  position: absolute;
  top: 26px;
  left: 127px;
  font-family: Inter;
  font-weight: Extra Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v137_82 {
  width: 96px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3623px;
  left: 512px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v137_83 {
  width: 629px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 3231px;
  left: 421px;
  font-family: Inter;
  font-weight: Bold;
  opacity: 1;
  text-align: left;
}
.v137_84 {
  width: 262px;
  height: 379px;
  background: url("../images/v137_84.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3133px;
  left: 100px;
  overflow: hidden;
}
.v137_85 {
  width: 262px;
  height: 379px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v137_86 {
  width: 265px;
  height: 402px;
  background: url("../images/v137_86.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v137_87 {
  width: 1000px;
  height: 76px;
  background: url("../images/v137_87.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3741px;
  left: 70px;
  overflow: hidden;
}
.v137_88 {
  width: 1000px;
  height: 76px;
  background: rgba(217,217,217,0.5);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v137_89 {
  width: 949px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 25px;
  left: 31px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v137_90 {
  width: 43px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 5px;
  left: 907px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v137_91 {
  width: 1000px;
  height: 76px;
  background: url("../images/v137_91.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3868px;
  left: 70px;
  overflow: hidden;
}
.v137_92 {
  width: 1000px;
  height: 76px;
  background: rgba(217,217,217,0.5);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v137_93 {
  width: 910px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 26px;
  left: 31px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v137_94 {
  width: 43px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 5px;
  left: 908px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v137_95 {
  width: 1000px;
  height: 76px;
  background: url("../images/v137_95.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3995px;
  left: 70px;
  overflow: hidden;
}
.v137_96 {
  width: 1000px;
  height: 76px;
  background: rgba(217,217,217,0.5);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v137_97 {
  width: 531px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 26px;
  left: 31px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v137_98 {
  width: 43px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 6px;
  left: 908px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v137_99 {
  width: 1000px;
  height: 76px;
  background: url("../images/v137_99.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4123px;
  left: 70px;
  overflow: hidden;
}
.v137_100 {
  width: 1000px;
  height: 76px;
  background: rgba(217,217,217,0.5);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v137_101 {
  width: 352px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 25px;
  left: 31px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v137_102 {
  width: 43px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 5px;
  left: 908px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v137_103 {
  width: 1000px;
  height: 76px;
  background: url("../images/v137_103.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4255px;
  left: 70px;
  overflow: hidden;
}
.v137_104 {
  width: 1000px;
  height: 76px;
  background: rgba(217,217,217,0.5);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v137_105 {
  width: 454px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 25px;
  left: 31px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v137_106 {
  width: 43px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 908px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v137_107 {
  width: 1000px;
  height: 76px;
  background: url("../images/v137_107.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4506px;
  left: 70px;
  overflow: hidden;
}
.v137_108 {
  width: 1000px;
  height: 76px;
  background: rgba(217,217,217,0.5);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v137_109 {
  width: 312px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 25px;
  left: 31px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v137_110 {
  width: 43px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 908px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v137_111 {
  width: 1000px;
  height: 76px;
  background: url("../images/v137_111.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4378px;
  left: 70px;
  overflow: hidden;
}
.v137_112 {
  width: 1000px;
  height: 76px;
  background: rgba(217,217,217,0.5);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v137_113 {
  width: 343px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 25px;
  left: 28px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v137_114 {
  width: 43px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 5px;
  left: 908px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v137_115 {
  width: 1000px;
  height: 76px;
  background: url("../images/v137_115.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4629px;
  left: 70px;
  overflow: hidden;
}
.v137_116 {
  width: 1000px;
  height: 76px;
  background: rgba(217,217,217,0.5);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v137_117 {
  width: 457px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 25px;
  left: 28px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v137_118 {
  width: 43px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 5px;
  left: 908px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v137_177 {
  width: 588px;
  height: 475px;
  background: url("../images/v137_177.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 815px;
  left: 512px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v137_178 {
  width: 484px;
  height: 463px;
  background: url("../images/v137_178.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 10px 10px;
  margin: 28px;
  opacity: 1;
  position: absolute;
  top: 827px;
  left: 19px;
  overflow: hidden;
}
.v137_179 {
  width: 643px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 10px;
  left: 10px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v137_180 {
  width: 631px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 83px;
  left: 10px;
  font-family: Inter;
  font-weight: Light;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v137_181 {
  width: 182px;
  height: 75px;
  background: rgba(249,247,247,1);
  padding: 12px 12px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 203px;
  left: 10px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v137_182 {
  width: 132px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 21px;
  left: 25px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v154_15 {
  width: 100%;
  height: 587px;
  background: url("../images/v154_15.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2333px;
  left: 9px;
  overflow: hidden;
}
.v154_16 {
  width: 187px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2383px;
  left: 445px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v154_17 {
  width: 900px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2483px;
  left: 88px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v154_18 {
  width: 214px;
  height: 77px;
  background: rgba(255,255,255,1);
  padding: 14px 21px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 2743px;
  left: 431px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v154_19 {
  width: 186px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 19px;
  left: 14px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
